<div class="form-container" id="toolbar">
  <header [@fallIn]="">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page">
    <h2>Here are some links to help you start: </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Start an assessment</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">view assessment results</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">register for an assessment</a></h2>
      </li>
    </ul>
    <img src="assets/images/filler.png" />
  </div>
  
</div>
